/* Reset */
body, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, tr, td{margin: 0;padding: 0; list-style-type:none}

#calender{	
	border: 1px solid black;
	width: 601px;
	margin-left: 100px;
	margin-right: 200px;
} 

#calendar_table{
    font-size: xx-large;
    padding-left: 100px;
    padding-right: 100px;
}
td{
	font-size: -webkit-xxx-large;
	border:1px solid black;
	text-align:center;
}
#monthPane{
	text-align: center;
	font-size: xxx-large;
}
td:nth-child(7){
	color : blue;
}
td:nth-child(1){
	color : red;
}
#img{
	padding-left:100px;
	padding-right:100px;
}
#img2{
	width:400px;
	height:400px;
}